.deck, .hidden, .discards {
    --card-thickness: 0.5px;
    --card-slope: 0px;
    --card-width: 50px;
    --card-height: 90px;
    --card-color: var(--sand-color);
    --discard-top: 50vh;
    --discard-height: calc(var(--card-height) + 50px);
    width: 100px; /* Adjust this width for spacing */
    >.card {
        width: calc(var(--card-width) * var(--deck-distance));
        height: calc(var(--card-height) * var(--deck-distance));
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
        background: var(--card-color);
        border: 1px solid black;
        border-radius: 1vw;
        perspective: 1000px; /* Perspective for 3D effect */
        transform-style: preserve-3d;
        transform: rotateX(80deg) rotateZ(-40deg);
        .diamond, .spade, .heart, .club {
            --suit-size: 1px;
        }
        .content {
            --suit-size: 1px;
            padding: 5px;
            .marker {
                left: 14px;
            }
        }
    }
    +.count {
        position: fixed;
        top: 50%;
        left: 50%;
        color: white;
        font-weight: bold;
    }
}
.discards {
    --close-size: 30px;
    --close-top : calc(var(--discard-top) - var(--close-size));
    --close-right: 20px;
    pointer-events: auto;
    .close .message {
        position: fixed;
        top: calc(var(--close-top) + 8px);
        left: auto;
        right: calc(var(--close-right) + var(--close-size) + 5px);
    }
    .closeX {
        position: fixed;
        top: var(--close-top);
        right: var(--close-right);
        cursor: pointer;
        margin: 0;
        float: none;
        font-size: var(--close-size);
    }
    .open {
        position: fixed;
        top: var(--discard-top);
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 6;
        height: var(--discard-height);
        pointer-events: auto;
        width: 95%;
        ::-webkit-scrollbar {
            width: 0px;
        }
    }
    .message {
        position: fixed;
        top: calc(var(--discard-top) + var(--discard-height));
        left: calc(var(--timer-width) + 15px);
        color: white;
        z-index: 6;
        white-space: normal;
    }
}
.deck,.hidden {
    width: auto;
    white-space: nowrap;
}
